@import "../../../globalVariables.scss";

.home-container {
  //display: flex;
  margin: 2em 0 0 0;
  padding: 0;
}

.text-small {
  font-size: $global-text-sm;
}

.text-medium {
  font-size: $global-text-md;
}

.text-large {
  font-size: $global-text-lg;
}

.image-css-html {
  width: 50%;
  height: auto;
  filter: brightness(150%);
}

.text-highlight {
  display: inline-block;
  color: $global-primary-color;
  @extend .text-medium;
  margin: 0;
  //   padding: 0 2em 0 0;
  //   margin: 2em 2em 0 0;
}

.span-highlight-logo {
  display: inline-block;
  width: 1.5em;
  height: 1em;
  padding: 0;
  margin-top: 2em;
  margin-right: 1em;
  filter: invert(0.5) sepia(1) saturate(70) hue-rotate(175deg);
}

.text-two-column {
  display: flex;
  justify-content: flex-start;
  margin-left: 3em;
  margin-right: 3em;
}

.text-column-left {
  width: 50%;
  margin-right: 8em;
  @extend .text-small;
}

.text-column-right {
  width: 50%;
  @extend .text-small;
}

//tablet specific styles
@media (max-width: 64em) {
  .text-small {
    font-size: $global-text-sm-mobile;
  }
  .text-medium {
    font-size: $global-text-md-mobile;
  }

  .span-highlight-logo {
    width: 1.4em;
    height: 1em;
  }

  .text-two-column {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .text-column-left {
    margin: 0;
    width: 50%;
    margin-right: 5em;
  }

  .text-column-right {
    width: 50%;
  }
}

//mobile specific styles
@media (max-width: 40em) {
  .text-two-column {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .text-column-left {
    width: 100%;
  }

  .text-column-right {
    width: 100%;
  }
}
